/*importando fonte Montserrat do goole fonts*/
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

/*definindo um seletor universal para trabalhar com os elementos da box model(content, padding, border) ao mesmo tempo, em vez de individualmente*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*definindo que todos os elementos serão dimensionados ao mesmo tempo*/
  /*fontes importadas*/
  font-family: "Kdam Thmor Pro", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
}
header {
  /*cabeçalho da página*/
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /*transformando o container em uma flexbox*/
  align-items: center;
  justify-content: space-around;
  /*parametros adcionados após imagem de fundo*/
  position: fixed; /*fixando o header na tela para não subir após rolagem*/
  z-index: 99; /*definindo a sobreposição do header sobre outros elementos*/
}
header .logo {
  width: 50%; /*largura referente ao cabeçalho*/
}
header .logo img {
  /*tamanho da imagem*/
  width: 140px;
}
header .menu ul {
  display: flex; /*transforma a lista em flex*/
}
header .menu ul li {
  padding: 0 35px;
  list-style: none; /*removendo os marcadores de lista*/
}
header .menu ul li a {
  text-decoration: none; /*retira o sublinhado da <a>*/
  text-transform: uppercase; /*caixa alta*/
  color: #fff;
}
header .menu ul li a:hover {
  /*evento de mouse*/
  color: #156fc3;
  transition: 0.5s ease;
}

/*==========MAIN.INICIO===========*/

#inicio .container {
  width: 100%;
  height: 100vh;
  background: url(image/CREATIVE.jpg); /*definindo imagem de fundo*/
  background-size: cover; /*redimensionando a imagem de fundo para cobrir toda a área do elemento em que se encontra*/
}
#inicio .container .icons {
  width: 10%;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  position: fixed;
  z-index: 999;
}
#inicio .container .icons ion-icon {
  padding: 25px 0;
  font-size: 2.1rem;
  color: #fff;
  transition: 0.5s ease;
}
#inicio .container .icons ion-icon:hover {
  color: #156fc3;
}

/*estilizando titulo da pagina principal*/
#inicio .container .title {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 40px;
}
#inicio .container .title h1 {
  color: #156fc3;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-right: 193px;
}
#inicio .container .title h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 13.5px;
  font-size: 8rem;
  margin-left: 30px;
}
#inicio .container .title h3 {
  color: #156fc3;
  text-transform: uppercase;
  font-size: 5.6rem;
  letter-spacing: 10px;
  margin-left: 35px;
}
#inicio .container .title h4 {
  color: #fff;
  font-weight: 200;
  letter-spacing: 4.5px;
  font-size: 19px;
  margin-right: 10px;
  margin-bottom: 26px;
  margin-top: 10px;
}
#BTNdownload {
  color: #156fc3;
  background: transparent;
  padding: 7px 12px;
  border-radius: 8px; /*curva da borda*/
  border: 2px solid #156fc3; /*tamanho, grossura e cor da borda*/
  margin-right: 369px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

#BTNdownload:hover {
  background-color: #fff;
  border: none;
  transition: 0.4s ease;
}

/*=========PÁGINA - SOBRE===========*/

#sobre .container {
  width: 100%;
  height: 100vh;
  background: url(image/CREATIVE-2.jpg);
  background-size: cover; /*redimensiona imagem*/
  display: flex;
  justify-content: space-between;
}

#sobre .container .title {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex; /*flexbox*/
  flex-direction: column;
  align-items: flex-start; /*conteudo no inicio na pagina*/
  justify-content: center; /*centro da pagina*/
  padding: 0 60px; /*preenchimento*/
}
#sobre .container .title h1 {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
}
#sobre .container .title p {
  color: #fff;
  width: 500px;
  margin-top: 30px;
}
/*caixa de experiencias*/
#sobre .container .box-title {
  width: 420px;
  height: 49vh;
  margin-top: 20px;
  padding: 0 10px;
  box-shadow: 0 0 10px 0 rgba(18, 111, 197, 0.5);
  border-radius: 20px;
  font-size: 15px;
}
#sobre .container .box-title span {
  color: #fff;
}
#sobre .container .box-title .b1 {
  width: 400px;
  height: 5px;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 5px;
}
#sobre .container .box-title .b2 {
  width: 350px;
  height: 5px;
  background-color: #156fc3;
  margin-top: 5px;
  border-radius: 5px;
}
#sobre .container .box-title .b3 {
  width: 300px;
  height: 5px;
  background-color: #156fc3;
  margin-top: 5px;
  border-radius: 5px;
}
#sobre .container .box-title .b4 {
  width: 290px;
  height: 5px;
  background-color: #156fc3;
  margin-top: 5px;
  border-radius: 5px;
}
#sobre .container .box-title .b5 {
  width: 250px;
  height: 5px;
  background-color: #156fc3;
  margin-top: 5px;
  border-radius: 5px;
}
#sobre .container .box-title .b6 {
  width: 235px;
  height: 5px;
  background-color: #156fc3;
  margin-top: 5px;
  border-radius: 5px;
}
#sobre .container .box-title .b7 {
  width: 200px;
  height: 5px;
  background-color: #156fc3;
  margin-top: 5px;
  border-radius: 5px;
}

/*=========PÁGINA - SOBRE===========*/
#projetos .container {
  width: 100%;
  height: 100vh;
  background: url(image/CREATIVE_3.png); /*fundo da pagina sobre*/
  background-size: cover; /*redimensionamento de fundo*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*entrando a tag input e acessando o parametro type=radio*/
#projetos .container input[type="radio"] {
  display: none;
}
#projetos .container .card {
  /*estilizando a label*/
  position: absolute;
  width: 40%;
  height: 80%;
  left: 0;
  right: 0;
  margin: 150px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /*adcionado após o card esta estilizado (borda do card)*/
  box-shadow: 0 0 10px 0 rgba(18, 111, 197, 0.5);
  transition: 0.4s ease;
  cursor: pointer;
}
#projetos .container .card img {
  /*estilizando a imagem da label*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#projetos .container .card h1 {
  /*estilizando o titulo da label*/
  position: absolute;
  z-index: 9;
  color: #fff;
  font-size: 6rem;
  margin-top: 60px;
}
#projetos .container .card p {
  /*estilizando o paragrafo da label*/
  position: absolute;
  z-index: 9;
  width: 400px;
  color: #fff;
  margin-top: 200px;
  text-align: justify;
}
#projetos .container .card button {
  /*estilizando o botão da label*/
  position: absolute;
  z-index: 9;
  margin-top: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: rgba(18, 111, 197, 0.5);
  text-transform: uppercase;
  cursor: pointer;
}
#projetos .container .cards {
  position: relative;
  width: 100%;
  height: 100%;
}
/*FUNCIONAMENTO DOS CARDOS DO CARROSSEL*/
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/*=========PÁGINA - CONTATOS===========*/

#contatos .container {
  width: 100%;
  height: 100vh;
  background: url(image/CREATIVE_3.png); /*fundo da pagina sobre*/
  background-size: cover;
}
#contatos .container .content-contact {
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  padding: 300px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#contatos .content-contact .contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
#contatos .content-contact .contact-left h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
}
#contatos .content-contact .linha {
  /*linha divisória*/
  width: 350px;
  height: 3px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contatos .content-contact .contact-left ion-icon {
  font-size: 2rem;
  padding: 20px 0;
}
#contatos .content-contact .contact-left span {
  font-size: 1.2rem;
  padding: 5px 0;
  margin-top: 0;
  border: none;
}
#contatos .content-contact .contact-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
#contatos .content-contact .contact-right h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
#contatos .content-contact .contact-right .linha {
  width: 350px;
  height: 3px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contatos .content-contact .contact-right input[type="email"],
#contatos .content-contact .contact-right input[type="text"] {
  border-radius: 20px;
  border: none;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
}
#contatos .content-contact .contact-right textarea {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  padding: 15px 20px;
}

/*========= <footer> - CABEÇALHO===========*/
footer {
  width: 100%;
  height: 80px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -80px;
}
footer a {
  color: #2e8b57;
}

/*========= RESPONSIVIDADE DA PÁGINA ===========*/

@media screen and (max-width: 1280px) {
  #inicio .container .icons ion-icon{
    font-size: 1.5rem;
  }
  #projetos .container .card h1{
    font-size: 5rem;
  }
  #projetos .container .card p{
    width: 280px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 960px) {
  body {
    background: url(image/CREATIVE_3.png);
  }
  header {
    background: none;
  }
  header .logo {
    width: 600px;
  }
  header .btn-mobile{
    display: block;
  }
  header .btn-mobile ion-icon{
    color: #fff;
    font-size: 1.5rem;
  }
  header .menu-mobile{
    display: none;
    width: 50%;
    height: 20vh;
    box-shadow: 0 0 15px rgba(18, 111, 197, 0.5);
    position: fixed;
    top: 20px;
    border-radius: 10px;
    background: #156fc3;
  }
  header .menu-mobile ul{
    text-align: center;
  }
  header .menu-mobile ul li{
    list-style: none;
    padding: 12px 0;
  }
  header .menu-mobile ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
}
